table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:hover {background-color: #ddd;}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ead308;
  color: white;
}

button{
  margin: 10px;
}